__pycache__/
.venv/
*.db
*.sqlite
*.log
*.pkl
*.ipynb_checkpoints
node_modules/
build/
.DS_Store
.env
backend/database/ufc.db
backend/check.py
backend/dedup.py
backend/fix_db.py
backend/script.py
backend/venv/
.DS_Store
.idea/
